dist
node_modules
downloads
credentials.json
token.json
.env
src/DEFAULTS.ts
npm-debug.log
coverage

# Ignore JetBrain specific files
.idea

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
